.container
  background: container-bg
  min-height: 100vh
  margin-top: 1.2rem
  padding-top: 2rem
  padding-bottom: 2rem
  centered-width()

  &-header
    width: 600px
    margin-top: 1.8rem
    margin-bottom: 3rem

.reading-container

  @media (max-width: 1024px)
    padding-left: 2rem
    padding-right: 2rem

.post-content
  max-width: 80ch
  margin: 0 auto

  &__header
    margin-top: 1.8rem
    margin-bottom: 2.2rem
