<div class="card-list">
  {% for post in collections.posts | reverse %}
  <div class="card">
    <!-- <a>{{ title }}</a> -->
    <div class="card-left">
      <a href="{{ post.url }}" class="title">{{ post.data.title }}</a>
      <div class="tag-container">
        <span>Filed under:&nbsp;</span>
        <div class="tag-list">
          {% for tag in post.data.tags | filterTagList %}
          <span href="#" class="tag-item">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card-right">
      <p class="date">{{ post.date | readableDate }}</p>
    </div>

  </div>
  {% endfor %}
</div>
