.card-list
  display: grid
  gap: 12px
  grid-column: 1fr

.card
  display: flex
  justify-content: space-between

  &-left
    display: flex
    flex-direction: column

    .title
      font-size: 2rem
      color: nord0
      text-decoration: none

      &:hover
        text-decoration: underline
    
    .tag-container
      display: flex
      align-items: center

    .tag-list
      display: inline-flex
      gap: 0.7rem

      .tag-item
        background: nord7


  &-right
    display: flex

    &__date
      align-self: flex-end

.tag-container
  margin: 0.5rem 0
