.footer
  font-size: 0.9rem
  color: #fff

  &-wrapper
    display: flex
    justify-content: space-between
    background: #b56576
    height: 5rem
    padding-top: 1.1rem
    padding-bottom: 1.5rem

    centered-width()