.navbar
  display: flex
  justify-content: space-between
  padding: 2rem 5rem
  // border-bottom: 2px solid #000

  &__menu
    display: inline-flex
    justify-content: flex-end
    gap: 1.2rem

  &__link
    color: #000
    padding: 0.1rem 0.5rem


    &--active
      border: 1px solid nord1

