.navbar
  font-size: 1.2rem
  color: #fff

  &-wrapper
    display: flex
    justify-content: space-between
    background: container-bg
    padding-top: 1.1rem
    padding-bottom: 1.1rem

    centered-width()

  &__menu
    display: inline-flex
    justify-content: flex-end
    gap: 1.2rem

  &__link
    text-decoration: none
    color: #fff
    padding: 0.1rem 0.5rem

    &:hover
      text-decoration: underline
