body
  background: nord4
  padding-bottom: 3rem
  font-family: 'Playfair Display', serif
  min-height: 100vh  

.container
  width: 60rem
  margin: 0 auto
  margin-top: 3rem

.reading-container
  margin: 0 auto
  display: grid
  width: 43rem
