h1, h2, h3, h4, h5, h6
    margin: 12px 0

headerSizes = {
    h1: 3,
    h2: 2.25,
    h3: 1.875,
    h4: 1.25,
    h5: 1,
    h6: 0.875
}

for element, size in headerSizes
    {element}
        font-size: (size)rem