<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/static/css/main.css' | url }}" media="all" />
  <link rel="stylesheet" href="{{' /static/css/prism-nord.css' | url }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">


</head>

<body>
  {% include 'components/navbar.njk' %}

  <div class="container">
    {{ content | safe }}
  </div>

</body>

</html>
