---
layout: layouts/base.njk
---

<div class="container reading-container">
  <div class="post-content">
    <span>{{ page.date | readableDate }}</span>
    <h1 class="post-content__header">{{ header }}</h1>
    {{ content | safe }}
  </div>
</div>
